.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.-gutter-md-y-0 {
  margin-top: 0;
}

.-gutter-md-1 {
  margin-top: -8px;
  margin-right: -8px;
  margin-left: -8px;
}

.gutter-md-1 {
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
}

.-gutter-md-3 {
  margin-top: -28px;
  margin-right: -24px;
  margin-left: -24px;
}

.gutter-md-3 {
  margin-top: 28px;
  margin-right: 24px;
  margin-left: 24px;
}

.container {
  max-width: 1125px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 1125px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin: 0 auto;
  }
}
